#content-container {
    height: 150%;
    width: 60%;
    position: absolute;
    background: #303030;
    top: 9.4%;
    left: 20%;
}

.item {
    float: left;
    width: 50%;
    height: 25%;
    border-bottom: 2px double white;
}

.poster {
    margin-left: 5%;
    margin-top: 5%;
    opacity: 0.8;
}

.poster:hover {
    opacity: 1;
}

.movie-watch-button {
    position: relative;
    background: none;
    color: #70a1ff;
    width: 35.5%;
    height: 10%;
    border: 1px solid #70a1ff;
    padding: 0.6% 2%;
    margin-left: -36%;
    top: 10%;
    font-size: 100%;
    transition: 0.4s linear;
    cursor: pointer;
}

.movie-watch-button:hover {
    background: #70a1ff;
    color: #fff;
}

.name {
    width: 53%;
    position: relative;
    color: white;
    font-size: 120%;
    left: 44%;
    top: -79%;

    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
}

.genre {
    width: 53%;
    position: relative;
    color: white;
    font-size: 100%;
    left: 45%;
    top: -82%;
}

.year {
    width: 53%;
    position: relative;
    color: white;
    font-size: 100%;
    left: 45%;
    top: -84%;
}

.duration {
    width: 53%;
    position: relative;
    color: white;
    font-size: 100%;
    left: 45%;
    top: -86%;
}

.description {
    position: relative;
    top: -85%;
    left: 44%;
    color: white;

    max-width: 50%;
    max-height: 23%;

    overflow:hidden;
    text-overflow:ellipsis;
}