.row {
    position: absolute;
    left: 35%;
    top: 160%;
    max-width: 30%;
}

#pagination-demo li {
    display: inline-block;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    color: #007bff;
    background-color: #303030;
    border: 1px solid #dee2e6;
    text-decoration: none;
}

.page-link:hover {
    background-color: red;
    color: #fff;
}