.jq-star {
    width: 15%;
    height: 15%;
    display: inline-block;
    cursor: pointer;
}

.jq-star-svg {
    padding-left: 1%;
    width: 100%;
    height: 100%;
}
.my-rating-6 {
    position: relative;
    top: -87%;
    left: 44.3%;
    max-width: 60%;
}
