#up-panel {
    z-index: 10;
    height: 5.5%;
    width: 100.5%;
    position: fixed;
    margin: -0.5%;
    user-select: none;
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}

#logo {
    height: 130%;
    width: 3.5%;
    position: absolute;
    left: 25%;
    margin-top: -0.4%;
}

.menu-tab {
    height: 5%;
    width: 2.5%;
    position: fixed;
    top: 0.3%;
    left: 1%;
    z-index: 30;
    cursor: pointer;
    user-select: none;
    transition: all .6s ease-in-out;
}

.menu-tab.show {
    left: 22%;
}

.menu-hide {
    height: 100%;
    width: 25%;
    position: fixed;
    left: -25%;
    top: 0;
    z-index: 20;
    user-select: none;
    padding-top: 2.8%;
    transition: all .6s ease-in-out;
}

.menu-hide.show {
    background-color: black;
    left: 0;
    opacity: 0.7;
}

.menu-hide a {
    color: white;
    font-size: 130%;
    text-decoration: none;
}

.menu-hide div {
    width: 100%;
    height: 5%;
    padding-top: 1%;
    text-align: center;
}

.menu-hide div:hover {
    background-color: #00458B;
}

#search {
    width: 35%;
    height: 65%;
    position: absolute;
    padding-left: 2%;
    opacity: 0.8;
    top: 19%;
    left: 30%;
}

#login_button {
    background: none;
    color: #70a1ff;
    position: absolute;
    width: 9%;
    height: 80%;
    top: 11%;
    left: 88%;
    border: 1px solid #70a1ff;
    padding: 0.6% 2%;
    font-size: 100%;
    transition: 0.4s linear;
    cursor: pointer;
}
#login_button:hover {
    background: #70a1ff;
    color: #fff;
}

#logout_button {
    background: none;
    color: #70a1ff;
    position: absolute;
    width: 9%;
    height: 80%;
    top: 11%;
    left: 79%;
    border: 1px solid #70a1ff;
    padding: 0.6% 2%;
    font-size: 100%;
    transition: 0.4s linear;
    cursor: pointer;
}
#logout_button:hover {
    background: #70a1ff;
    color: #fff;
}

.drop-down {
    width: 20%;
    height: 4%;
    background-color: #303030;
    color: white;
    text-align: center;
    text-align-last:center;
    position: absolute;
    left: 20%;
    top: 5.4%;
    font-family: Georgia, serif;
}

.drop-down option {
    font-family: Georgia, serif;
    background-color: #303030;
}

#hint-container {
    width: 35.2%;
    height: auto;
    position: fixed;
    top: 5.4%;
    left: 30%;
    z-index: 100;
}

.hint {
    opacity: 0.9;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    cursor: pointer;
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    text-align: center;
    color: white;
    border-bottom: 1px double black;
}

.hint:hover {
    opacity: 1;
}
