#background {
    position: fixed;
    height: 100%;
    width: 100%;
    filter: blur(1px);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
    user-select: none;
}

.contact-section {
    background: #313840;
    opacity: 0.9;
    padding: 80px 0;
    text-align: center;
}

.inner-width {
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
}

.contact-section h1 {
    font-size: 20px;
    color: #888;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
}

.name {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    color: #888;
    padding: 10px 6px;
    font-size: 14px;
    margin-bottom: 40px;
    float: left;
    width: 40%;
}

.contact-section button {
    background: none;
    color: #70a1ff;
    border: 1px solid #70a1ff;
    padding: 12px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.4s linear;
    cursor: pointer;
}

.contact-section button:hover {
    background: #70a1ff;
    color: #fff;
}

.load {
    background: none;
    color: #70a1ff;
    border: 1px solid #70a1ff;
    padding: 12px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.4s linear;
    cursor: pointer;
}

#hint-container {
    position: absolute;
    background: black;
    top: 26%;
    left: 20%;
    width: 60%;
}

.hint {
    opacity: 0.9;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    cursor: pointer;
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    text-align: center;
    color: white;
    border-bottom: 1px double black;
}

.load:hover {
    background: #70a1ff;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .name, .email {
        width: 100%;
    }
}