<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" type="text/css" href="css/admin-module/user-manager.css">

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/js/admin-module/personal-area.js" defer></script>
</head>
<body>

<table class="table">

    <thead>
    <tr>
        <th>Your email</th>
        <th>Change password</th>
    </tr>
    </thead>

    <tr>
        <td th:text="${#authentication.getPrincipal().getName()}">12@gmail.com</td>

        <td>
            <input type="button" value="change your password" onclick="change_password()">
        </td>
    </tr>

</table>
<button onclick="shutdown()" sec:authorize="hasAnyAuthority('SUPER_ADMIN')">ShutDown</button>
</body>
</html>