#content-container {
    height: 70%;
    width: 60%;
    position: absolute;
    background: #303030;
    top: 5.4%;
    left: 20%;
    border-bottom: 2px double red;
}

#video-player {
    width: 100%;
    height: 90%;
}

.name {
    width: 30%;
    left: 45%;
    top: 67.5%;
    text-align: center;
    position: absolute;
    color: white;
    font-size: 120%;

    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
}