::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #4c4c6a;
}

.chatbox {
    position: absolute;
    top: 75.5%;
    left: 20%;
    width: 60%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-window {
    flex: auto;
    max-height: calc(100% - 60px);
    background: #303030;
    overflow: auto;
}

.chat-input {
    flex: 0 0 auto;
    height: 60px;
    background: #303030;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.chat-input input {
    height: 59px;
    line-height: 60px;
    outline: 0 none;
    border: none;
    width: calc(100% - 60px);
    color: white;
    text-indent: 10px;
    font-size: 12pt;
    padding: 0;
    background: #303030;
}

.chat-input button {
    float: right;
    outline: 0 none;
    border: none;
    background: rgba(255, 255, 255, .25);
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 2px 0 0 0;
    margin: 10px;
    transition: all 0.15s ease-in-out;
}

.msg-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
}

.msg-box {
    display: flex;
    background: #222;
    padding: 10px 10px 0 10px;
    border-radius: 0 6px 6px 0;
    max-width: 80%;
    width: auto;
    float: left;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
}

.user-img {
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #2671ff;
    margin: 0 10px 10px 0;
}

.flr {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}

.msg {
    display: inline-block;
    font-size: 11pt;
    line-height: 13pt;
    color: rgba(255, 255, 255, .7);
    margin-top: 3%;
    margin-left: 2%;
}

.msg:first-of-type {
    margin-top: 8px;
}

.timestamp {
    color: white;
    font-size: 8pt;
    margin-bottom: 10px;
}

.username {
    margin-left: 2%;
    margin-right: 3px;
}

.posttime {
    margin-left: 3px;
}