.jq-star {
    display: inline-block;
    cursor: pointer;
}

.jq-star-svg {
    width: 100%;
    height: 100%;
}

.my-rating-6 {
    left: 8%;
    top: 1%;
    position: relative;
    max-width: 60%;
}
