<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="errorMessage" type="org.geekhub.student.web.controller.error.ErrorHandlerController"*/-->
<center>
    <h1>
        Oops error: <p th:text="${errorMessage}"></p>
    </h1>
</center>

</body>
</html>